<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <h1 class="title title-event is-10 navbar-item is-capitalized is-marginless" style="padding-left: 0">New User</h1>
        <%= render 'form', user: @user %>
      </div>
    </div>
  </div>
</div>