<div class="section">
<div class="container">
<div class="columns is-centered">
<div class="column is-10">

<h2 class="title is-3 mt-5">Upcoming Events</h2>

<div>
  <%= render partial: 'upcoming_events' %>
</div>
<h2 class="title is-3 mt-5">Past Events</h2>
<div>
  <%= render partial: 'past_events' %>
</div>

<%= link_to 'New Event', new_event_path %>
</div>
</div>
</div>
</div>

